.test {
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;

  &-carousel {
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);

    &_button {
      position: absolute;
      top: 50%;
      z-index: 10;
      font-size: 15px;
      transform: translateY(-50%);

      &.left {
        left: 50px;
      }

      &.right {
        right: 60px;
      }
    }

    &_slide {
      display: flex;
      flex-basis: 100%;
      position: absolute;
      width: 100%;
      height: 100vh;

      &_item {
        width: 100vw;
        height: 100vh;
        div {
          position: absolute;
          background-color: blue;
          left: 0;
        }
        img {
          position: relative;
          width: 100vw;
          height: 100vh;
          object-fit: cover;
        }
      }
    }
  }
}
