.dropdown {
  display: inline-block;
  li {
    display: inline-block;
    position: relative;
    a {
      display: inline-block;
    }
    &:hover > ul,
    ul:hover {
      visibility: visible;
      opacity: 1;
      display: inline;
      width: auto;
    }
    ul {
      visibility: hidden;
      opacity: 0;
      display: none;
      position: absolute;
      left: 0%;
      top: 100%;
    }
  }
}

.menu-icon {
  display: inline-block;
  background-color: #124957;
  font-size: 20px;
  background-color: purple;
  a {
    color: #fff;
    font-size: 20px;
  }
}
