.container {
  width: 100%;
  .dropdown {
    display: inline-block;
    li {
      display: inline-block;
      position: relative;
      a {
        display: inline-block;
      }
      &:hover > ul,
      ul:hover {
        visibility: visible;
        opacity: 1;
        display: inline;
        width: auto;
      }
      ul {
        visibility: hidden;
        opacity: 0;
        display: none;
        position: absolute;
        left: 0%;
        top: 100%;
      }
    }
  }
}
.menu-icon {
  display: none;
  background-color: #124957;
  font-size: 20px;
  background-color: purple;
  a {
    color: #fff;
    font-size: 20px;
  }
}

@media screen and (max-width: 1315px) {
  .menu-icon {
    display: inline-block;
  }
  .container {
    .dropdown {
      display: none;
      &.active {
        background-color: black;
        padding: 3em 1em 1em 1em;
        display: block;
        // apply a border between each menu item
        > li + li {
          border-top: 1px solid #ccc;
        }
        position: absolute;
        display: block;
        top: 6.2%;
        left: 0;
        z-index: 102;
        width: 100vw;
        li {
          opacity: 0.9;
          display: block;
          position: relative;
          height: max-content;
          background-color: #5470c6;
          a {
            width: 100%;
            text-align: center;
          }

          &:hover > ul,
          ul:hover {
            display: block;
          }
          ul {
            //display: block;
            width: 100vw;
            position: relative;
            li {
              position: relative;
              a {
                text-align: center;
                display: block;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
