.dropdown {
  li {
    display: inline-block;
    position: relative;
    a {
      display: inline-block;
    }
    &:hover > ul,
    ul:hover {
      visibility: visible;
      opacity: 1;
      display: inline;
      width: auto;
    }
    ul {
      visibility: hidden;
      opacity: 0;
      display: none;
      position: absolute;
      left: 0%;
      top: 100%;
      /* li {
        display: flex;
        flex-direction: column;
        position: relative;

        a {
          padding: 0;
          display: inline-block;
        }
      } */
    }
  }
}
