$hover-color: #01c2d5;
$icon-hover-color: #246192;
$original-background-color: #246192;
$navbar-background-color: #4779a3;
$text-color: #246192;
$title-color: #dde5ed;
$dropdown-border-color: black;
$switch-size: 1315px;

@mixin icon-style-set {
  display: inline-block;
  background-color: $original-background-color;
  margin: 0 0 0 1em;
  a {
    padding: 0.5em 1em 0.5em 1em;
    color: #fff;
    &:hover {
      background-color: $icon-hover-color;
    }
  }
}

.designingTwelveFMSCWrap {
  &-navbar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: $navbar-background-color;
    &__logo {
      // using vertical-align to deal with align problem in inline-block mode
      vertical-align: top;
      vertical-align: bottom;
      display: inline-block;
      align: center;
      img {
        background-color: $navbar-background-color;
        padding: 0.2em 1em 0.2em 1em;
      }
    }
    &__nav {
      @media screen and (max-width: $switch-size) {
        order: 3;
      }
      display: inline-block;
      overflow: visible;
      font-size: 14px;
      ul {
        display: block;
        z-index: 101;
        list-style: none;
        margin-right: 3em;
        li {
          a {
            font-size: 1.2em;
            padding: 2em 1em 2em 1em;
            color: #fff;
          }
          &:hover {
            background-color: #fff;
            a {
              color: $text-color;
              background-color: #fff;
            }
          }
          ul {
            li {
              a {
                border-style: hidden hidden solid hidden;
                border-color: $dropdown-border-color;
                border-width: thin;
                width: 13em;
                padding: 0.5em;
                &:hover {
                  background-color: $hover-color;
                }
              }
            }
          }
        }
      }
    }

    &-buttonContainer {
      @media screen and (max-width: $switch-size) {
        margin-left: 35em;
      }
      display: inline-block;
      padding: 1em;
      right: 0;
      height: auto;
      button {
        top: 3.5%;
        display: inline;
        color: $text-color;
        background-color: #fff;
        margin: 0;
        padding: 0.5em 1em;
        text-decoration: none;
        font-size: 18px;
        margin: 0.2em;
        &:hover {
          background-color: $hover-color;
        }
      }

      &__search {
        @media screen and (max-width: $switch-size) {
          display: none;
        }
        // display: inline-block;
        // background-color: $original-background-color;
        // margin: 0 1em 0 1em;
        // a {
        //   padding: 0.5em 1em 0.5em 1em;
        //   color: #fff;
        //   &:hover {
        //     background-color: $icon-hover-color;
        //   }
        // }
        //位置
        @include icon-style-set;
        ul {
          left: -350%;
          top: 100%;
        }
        &_form {
          padding: 1em;
          background-color: $original-background-color;
          display: flex;
          input {
            font-size: 1.2em;
          }
          span {
            button {
              padding: 0;
              margin: 0;
              width: 3em;
              height: 3em;
            }
          }
        }
      }
      &__login {
        @media screen and (max-width: $switch-size) {
          display: none;
        }
        // display: inline-block;
        // background-color: $original-background-color;
        // margin: 0 1em 0 0;
        // a {
        //   padding: 0.5em 1em 0.5em 1em;
        //   color: #fff;
        //   &:hover {
        //     background-color: $icon-hover-color;
        //   }
        // }
        @include icon-style-set;
        ul {
          left: -150%;
          top: 100%;
        }
        &_form {
          padding: 1em;
          background-color: white;
          display: block;
          &_group {
            display: line;
            padding: 0.5em 0 0.5em 0;
            position: relative;
            a {
              display: block;
              width: 100%;
              text-align: center;
              //padding: 0.5em 1em 0.5em 1em;
              color: #fff;
              background-color: $original-background-color;
              &:hover {
                background-color: $hover-color;
              }
            }
            span {
              display: none;
            }
            input {
              height: 3em;
              font-size: 1.2em;
            }
            button {
              display: block;
              color: #fff;
              width: 100%;
              padding: 0.5em 1em 0.5em 1em;
              background-color: $original-background-color;
              &:hover {
                background-color: $hover-color;
              }
            }
          }
          &__divider {
            background-color: #e5e5e5;
            margin: 0.5em 0;
            height: 1px;
          }
          &_help {
            a {
              font-size: 16px;
              left: 100%;
            }
          }
        }
      }
    }
  }
  &-carousel {
    display: block;
    div.carouselContent {
      font-size: 1.5em;
      color: #fff;
      top: 12%;
      left: 4%;
      position: absolute;
      padding: 1em 3em 1em 3em;
      display: block;
      text-align: left;
      width: 50vw;
      line-height: 2em;

      span {
        font-size: 1.3em;
        font-weight: 400;
      }
      a {
        font: inherit;
        font-size: 2em;
        font-weight: 500;
      }

      button {
        padding: 0.2em;
        background-color: transparent;
        border-width: 1px;
        border-style: solid;
        border-color: #fff;
        padding: 1em 1em 1em 1em;
        span {
          color: #fff;
          font-size: 2em;
        }
        &:hover {
          background-color: $hover-color;
        }
      }
    }
    height: auto;
    position: relative;
    &_item {
      img {
        z-index: -1;
        //object-fit: cover;
        height: auto;
        width: 100vw;
        display: block;
        background: transparent;
      }

      &__caption {
        h4 {
          * {
            color: #fff;
          }
        }
      }
    }
  }
  &-buttonList {
    position: relative;
    ul {
      display: block;
      grid-template-columns: repeat(3, auto);
      grid-gap: 5px;
      list-style: none;
      text-align: left;
      width: 100vw;
      padding: 1em 7em 1em 7em;
    }

    li {
      background-color: $original-background-color;
      width: 22vw;
      display: inline-block;
      position: relative;
      margin: 0 1em 0 1em;
      a {
        display: inline-block;
        width: 100%;
        padding: 1em 1em 1em 1em;
        color: #fff;
      }
      &:hover {
        background-color: $hover-color;
      }
    }
  }

  &-fluid {
    padding: 2em;
    position: relative;
    background-color: $title-color;

    h1 {
      font-size: 32px;
      text-align: center;
      color: $text-color;
    }
    &:after {
      width: 0;
      height: 0;
      content: "";
      position: absolute;
      left: 50%;
      bottom: -29px;
      border-left: 48px solid transparent;
      border-right: 48px solid transparent;
      border-top: 29px solid $title-color;
      margin-left: -48px;
      z-index: 100;
    }
  }
}
