.designingTwelveFMSCWrap {
  &-navbar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #4779a3;
    &__logo {
      img {
        background-color: #4779a3;
        padding: 0.2em 1em 0.2em 1em;
      }
    }
    &__nav {
      font-size: 14px;
      z-index: 100;
      ul {
        list-style: none;
        width: 50vw;
        margin-right: 5rem;
        li {
          a {
            padding: 2em 1em 2em 1em;
            color: #fff;
          }
          &:hover {
            background-color: #fff;
            a {
              color: #4779a3;
              background-color: #fff;
            }
          }
          ul {
            li {
              a {
                border-style: hidden hidden solid hidden;
                border-color: black;
                border-width: thin;
                width: 13em;
                padding: 0.5em;
                &:hover {
                  background-color: #dde5ed;
                }
              }
            }
          }
        }
      }
    }

    &-buttonContainer {
      button {
        top: 3.5%;
        display: inline;
        color: #246192;
        background-color: #fff;
        margin: 0;
        padding: 0.5em 1em;
        text-decoration: none;
        font-size: 18px;
        margin: 0.2em;
        &:hover {
          background-color: #02c1d5;
        }
      }
    }
    &__search {
      background-color: #124975;
      margin: 0 1em 0 1em;
      a {
        padding: 0.5em 1em 0.5em 1em;
        color: #fff;
        &:hover {
          background-color: #246192;
        }
      }
      //位置
      ul {
        left: -350%;
        top: 100%;
      }
      &_form {
        padding: 1em;
        background-color: #124975;
        display: flex;
        span {
          button {
            width: 3em;
            height: 3em;
          }
        }
      }
    }
    &__login {
      background-color: #124975;
      color: black;
      margin: 0 1em 0 0;
      a {
        padding: 0.5em 1em 0.5em 1em;
        color: #fff;
        &:hover {
          background-color: #246192;
        }
      }
      ul {
        left: -150%;
        top: 100%;
      }
      &_form {
        padding: 1em;
        background-color: white;
        display: block;
        &_group {
          display: line;
          padding: 0.5em 0 0.5em 0;
          position: relative;
          a {
            text-align: center;
            //padding: 0.5em 1em 0.5em 1em;
            color: #fff;
            background-color: #246192;
            &:hover {
              background-color: #02c1d5;
            }
          }
          span {
            display: none;
          }
          input {
            height: 3em;
          }
          button {
            display: block;
            color: #fff;
            width: 100%;
            padding: 0.5em 1em 0.5em 1em;
            background-color: #246192;
            &:hover {
              background-color: #02c1d5;
            }
          }
        }
        &__divider {
          background-color: #e5e5e5;
          margin: 0.5em 0;
          height: 1px;
        }

        &_alert {
        }

        &_help {
          a {
            font-size: 16px;
            left: 100%;
          }
        }
      }
    }
  }
  &-carousel {
    height: auto;
    position: relative;
    &_arrow {
      height: 100%;
      position: absolute;
      top: 0;
      &.left {
        left: 0%;
        a {
          padding: 0 5em 0 1em;
          &:hover {
            background-image: linear-gradient(
              to left,
              rgba(0, 0, 0, 0.0001) 0%,
              rgba(0, 0, 0, 0.5) 100%
            );
          }
        }
      }
      &.right {
        right: 0%;
        a {
          padding: 0 1em 0 5em;
          &:hover {
            background-image: linear-gradient(
              to right,
              rgba(0, 0, 0, 0.0001) 0%,
              rgba(0, 0, 0, 0.5) 100%
            );
          }
        }
      }
      a {
        position: relative;
        display: flex;
        height: 100%;
        align-items: center;
        &:hover {
          i {
            color: white;
          }
        }
        i {
          font-size: 8em;
          color: #848483;
        }
      }
    }
    &_item {
      height: auto;
      position: relative;
      overflow: hidden;
      display: block;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      img {
        z-index: -1;
        //object-fit: cover;
        height: auto;
        width: 100vw;
        display: block;
        background: transparent;
      }

      &__caption {
        top: 12%;
        left: 8%;
        position: absolute;
        padding: 3em 3em 3em 3em;
        h4 {
          display: block;
          position: relative;
          text-align: left;
          width: 31vw;
          line-height: 2em;
          span {
            font-size: 1.3em;
            font-weight: 400;
          }
          a {
            font-size: 2em;
            font-weight: 500;
          }
          * {
            color: #fff;
          }
          button {
            padding: 0.2em;
            background-color: transparent;
            border-width: 1px;
            border-style: solid;
            border-color: #fff;
            span {
              font-size: 2em;
            }
            &:hover {
              background-color: #02c1d5;
            }
          }
        }
      }
    }
  }
  &-buttonList {
    position: relative;
    ul {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-gap: 5px;
      list-style: none;
      text-align: left;
      width: 100vw;
      padding: 1em 7em 1em 7em;
    }

    li {
      background-color: #246192;
      width: 22vw;
      display: inline-block;
      position: relative;
      margin: 0 1em 0 1em;
      a {
        display: inline-block;
        width: 100%;
        padding: 1em 1em 1em 1em;
        color: #fff;
      }
      &:hover {
        background-color: #02c1d5;
      }
    }
  }

  &-fluid {
    padding: 2em;
    position: relative;
    background-color: #dde5ed;

    h1 {
      font-size: 32px;
      text-align: center;
      color: #246192;
    }
    &:after {
      width: 0;
      height: 0;
      content: "";
      position: absolute;
      left: 50%;
      bottom: -29px;
      border-left: 48px solid transparent;
      border-right: 48px solid transparent;
      border-top: 29px solid #dde5ed;
      margin-left: -48px;
      z-index: 100;
    }
  }
}
